<!DOCTYPE html>
<html lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= title %></title>

    <%- include('../common/stylesheets'); %>
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <%- include('../common/navigation'); %>

        <!-- page content -->

        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left" style="width:80%;">
                <h3>
                  <i class="fa fa-bar-chart opinion-icon"></i>Opinion Poll</h3>
              </div>
              <div class="title_right" style="width:20%;">
                <div class="col-xs-12 pull-right">
                  <button class="btn btn-success" data-toggle="modal" data-target=".bs5-example-modal-sm" style="float:right">
                    <i class="fa fa-plus-circle" style="padding-right:8px;"></i>New Poll</button>
                </div>
              </div>
              <!-- title right -->
            </div>
            <!-- page title -->

            <div class="clearfix"></div>

            <div class="">

              <div class="clearfix"></div>

              <div class="x_panel" style="border-radius:0; padding:23px 25px;">

                <div class="x_panel opinion-poll-wrapper">
                  <!--   <div class="x_title">

                            </div> -->

                  <% if (error) { %>
                    <h3>
                      <%= message %>
                    </h3>
                  <% } else if (!error && data.length == 0) { %>
                    <h2 class="jumbotron text-center">
                      No Polls found
                    </h2>
                  <% } else { %>
                    <% for ( var i = 0; i < data.length; i++) { %>
                    <div class="x_content" style="margin-bottom:20px">
                      <h2 class="poll-question"><%= data[i].question %></h2>
                      <div class="poll-result-wrapper">
                        <% for ( var j = 0; j < data[i].options.length; j++) { %>
                        <%
                          var responses = data[i].responses;
                          var cnt = 0;
                          for(var k=0; k < responses.length; k++) {
                            if (responses[k]["optionSelected"] == j)
                              cnt ++;
                          }
                          var perc = (cnt / responses.length) * 100;
                        %>
                        <div class="progress for-admin">
                          <div class="progress-bar most-selected" data-transitiongoal="<%= perc %>">
                            <span><%= perc %>%</span>
                          </div>
                        </div>
                        <p class="poll-detail">
                          <span>

                          <%= cnt %>

                          Members said</span>
                          <%= data[i].options[j] %>
                        </p>
                        <% } %> <!-- end for loop j -->
                      </div>
                      <!-- poll-result-wrapper  -->
                    </div>
                    <% } %> <!-- end for loop i -->

                  <% } %>
                </div>
              </div>
              <!-- x_panel -->

            </div>
            <!-- add new poll modal --->
            <div id="modal-add-poll" class="modal fade bs5-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog modal-sm">
                <div class="modal-content">

                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel3">Create New Poll</h4>
                  </div>
                  <div class="modal-body">
                    <div class="row notice-modal">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <form>
                          <div class="form-group has-feedback">
                            <label>Question</label>
                            <input type="text" class="form-control" id="new-poll-question" placeholder="">
                          </div>

                          <label>Options</label>
                          <div id="options-list">

                            <div class="form-group has-feedback add-options row">
                              <label class="col-xs-1">1.</label>
                              <div class="col-xs-11">
                                <input type="text" class="form-control col-xs-12 new-poll-option" id="inputSuccess352" placeholder="">
                              </div>
                            </div>
                            <div class="form-group has-feedback add-options row">
                              <label class="col-xs-1">2.</label>
                              <div class="col-xs-11">
                                <input type="text" class="form-control col-xs-12 new-poll-option" id="inputSuccess353" placeholder="">
                              </div>
                            </div>
                            <%# <div class="form-group has-feedback add-options row">
                              <label class="col-xs-1">3.</label>
                              <div class="col-xs-11">
                                <input type="text" class="form-control col-xs-12 new-poll-option" id="inputSuccess354" placeholder="">
                              </div>
                            </div>
                            <div class="form-group has-feedback add-options row">
                              <label class="col-xs-1">4.</label>
                              <div class="col-xs-11">
                                <input type="text" class="form-control col-xs-12 new-poll-option" id="inputSuccess355" placeholder="">
                              </div>
                            </div>%>

                          </div>

                          <div class="text-center">
                            <button class="btn btn-info btn-sm" style="color: #fff; margin: 10px 0;" id="add-option-row-btn" onclick="addOptionRow(event)">+ Add Another Option</button>
                          </div>

                          <div class="form-group has-feedback add-options row">
                            <label class="col-xs-3 label-poll-end-date">Poll End Date</label>
                            <div class="col-xs-9">
                              <input type="text" class="form-control has-feedback-left col-xs-12 datetimepicker" id="new-poll-end-date" placeholder="">
                              <span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span>
                            </div>
                          </div>
                          <br/>
                          <div class="text-center">
                            <button class="btn btn-success" id="add-new-poll-btn">Create</button>
                          </div>
                        </form>
                      </div>

                    </div>
                    <!-- notice-modal -->
                  </div>
                  <!-- modal-body -->

                </div>
                <!-- modal-content -->
              </div>
            </div>
            <!-- add new poll modal --->

            <!-- /page content -->

            <!-- footer content -->
            <!--
                        <footer>
                            <div class="pull-right">
                                Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
                            </div>
                            <div class="clearfix"></div>
                        </footer>
                        -->
            <!-- /footer content -->
            <!-- right_col -->

            <!-- <div id="custom_notifications" class="custom-notifications dsp_none">
                    <ul class="list-unstyled notifications clearfix" data-tabbed-notifications="notif-group"></ul>
                    <div class="clearfix"></div>
                    <div id="notif-group" class="tabbed_notifications"></div>
                </div> -->
          </div>
          <!-- main container -->
        </div>
        <!-- container body -->

        <%- include('../common/javascripts'); %>

        <script type="text/javascript">
          $(".datetimepicker").datetimepicker({
            format: 'DD/MM/YYYY',
            useCurrent: false,
            minDate: moment().add(1, 'day').toDate(),
            defaultDate: moment().add(1, 'week').toDate()
          });
          var addOptionRow = function(event) {
            event.preventDefault();
            var newrownum = $('.new-poll-option').size() + 1;
            console.log(newrownum);
            var html = '<div class="form-group has-feedback add-options row">\
                                          <label class="col-xs-1">'+newrownum+'.</label>\
                                          <div class="col-xs-11">\
                                            <input' +
                ' type="text" class="form-control col-xs-12 new-poll-option" id="inputSuccess352" placeholder="">\
                                          </div>\
                                        </div>';

            $("#options-list").append(html);
          }

          // POST new polls
          var postNewPoll = function(data) {
            console.log('sending.... %o', data);
            $.ajax({
              url: "/admin/polls",
              method: "POST",
              data: {
                question: data.pollQuestion,
                options: data.pollOptions,
                pollCloseDate: data.pollCloseDate


                // societyId: '123456789'
              },
              success: function(result) {
                if (result.error) {
                  alert('oops')
                } else {
                  // alert('yaay')
                  window.location.reload();
                }
              }
            });
          };
          $("#add-new-poll-btn").click(function(e) {
            e.preventDefault();
            var data = {};
            data.pollQuestion = $('#new-poll-question').val();
            data.pollCloseDate = $('#new-poll-end-date').val();
            var options = [];
            $(".new-poll-option").each(function () {
              if ($(this).val() !== undefined && $(this).val() !== null && $(this).val().trim() != '') {// prune the empties!
                options.push($(this).val());
              }
            })
            // validations
            var questionV = $("#new-poll-question").val();
            var endDateV = $("#new-poll-end-date").val();
            if (!validateRequired(questionV) || !validateRequired(endDateV)){
              new PNotify({
                title: 'Validation Failed',
                text: 'Please enter Poll Question & Poll End Date',
                type: 'error'
              });
              return false;
            }
            // console.log(options); return;
            if (options.length < 2){
              new PNotify({
                title: 'Validation Failed',
                text: 'Please enter at least Two non-empty Options',
                type: 'error'
              });
              return false;
            }
            // /end validations
            data.pollOptions = options;
            postNewPoll(data);
            // console.log(data);
            $("#modal-add-poll").modal('hide');
          })
        </script>

        <!-- PNotify
            <script>
      $(document).ready(function() {
        new PNotify({
          title: "PNotify",
          type: "info",
          text: "Welcome. Try hovering over me. You can click things behind me, because I'm non-blocking.",
          nonblock: {
              nonblock: true
          },
          addclass: 'dark',
          styling: 'bootstrap3',
          hide: false,
          before_close: function(PNotify) {
            PNotify.update({
              title: PNotify.options.title + " - Enjoy your Stay",
              before_close: null
            });

            PNotify.queueRemove();

            return false;
          }
        });

      });
            </script>
           <!-- PNotify -->

        <!-- Custom Notification -->
        <script>
          $(document).ready(function() {
            var cnt = 10;

            TabbedNotification = function(options) {
              var message = "<div id='ntf" + cnt + "' class='text alert-" + options.type + "' style='display:none'><h2><i class='fa fa-bell'></i> " + options.title + "</h2><div class='close'><a href='javascript:;' class='notification_close'><i class='fa fa-close'></i></a></div><p>" + options.text + "</p></div>";

              if (!document.getElementById('custom_notifications')) {
                alert('doesnt exists');
              } else {
                $('#custom_notifications ul.notifications').append("<li><a id='ntlink" + cnt + "' class='alert-" + options.type + "' href='#ntf" + cnt + "'><i class='fa fa-bell animated shake'></i></a></li>");
                $('#custom_notifications #notif-group').append(message);
                cnt++;
                CustomTabs(options);
              }
            };

            CustomTabs = function(options) {
              $('.tabbed_notifications > div').hide();
              $('.tabbed_notifications > div:first-of-type').show();
              $('#custom_notifications').removeClass('dsp_none');
              $('.notifications a').click(function(e) {
                e.preventDefault();
                var $this = $(this),
                  tabbed_notifications = '#' + $this.parents('.notifications').data('tabbed_notifications'),
                  others = $this.closest('li').siblings().children('a'),
                  target = $this.attr('href');
                others.removeClass('active');
                $this.addClass('active');
                $(tabbed_notifications).children('div').hide();
                $(target).show();
              });
            };

            CustomTabs();

            var tabid = idname = '';

            $(document).on('click', '.notification_close', function(e) {
              idname = $(this).parent().parent().attr("id");
              tabid = idname.substr(-2);
              $('#ntf' + tabid).remove();
              $('#ntlink' + tabid).parent().remove();
              $('.notifications a').first().addClass('active');
              $('#notif-group div').first().css('display', 'block');
            });
          });
        </script>
        <!-- /Custom Notification -->
      </body>
    </html>
