
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Notices</title>

 <%- include('../common/stylesheets'); %>
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <%- include('../common/resident-navigation'); %>

        <!-- page content -->

<div class="right_col" role="main">
                    <div class="">
                        <div class="page-title">
                            <div class="title_left" style="width:100%">
                                <h3><i class="fa fa-bullhorn notices-icon"></i>Notices</h3>
                            </div>
                            <!--
                            <div class="title_right">
                                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search for...">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button">Go!</button>
                                        </span>
                                    </div>
                                </div>
                            </div> <!-- title right -->
                        </div> <!-- page title -->

                        <div class="clearfix"></div>
                        <% if (error) { %>
                        <h3> <%= message %> </h3>
                        <% } else if (!error && data.length == 0) { %>
                        <h2 class="jumbotron text-center"> No notices found </h2>
                        <% } else { %>
                        <div class="x_panel" style="padding:24px 13px;">

                            <div class="clearfix"></div>
                            <% for ( var i = 0; i < data.length; i++) { %>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="x_panel notices-padding">
                                    <div class="x_title thin-border">
                                        <div class="row notices">
                                            <div class="col-xs-8 col-sm-8 col-md-8">
                                                <h2 style="white-space: inherit; word-break: break-all; line-height: 1.3;"> <%= data[i].subject %></h2>
                                            </div>
                                            <div class="col-xs-4 col-sm-4 col-md-4">
                                                <p> <%= data[i].dateCreated %></p>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        <div class="notification-content">
                                            <p class="show-read-more"><%= data[i].content %></p>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- col-md-4 -->
                            <% }
                            } %>
                        </div>



                <!-- /page content -->

                <!-- footer content
                 <footer>
                     <div class="pull-right">
                         Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
                     </div>
                     <div class="clearfix"></div>
                 </footer>
                 <!-- /footer content -->
            </div>
        </div>
        <!-- right_col -->

        <div id="custom_notifications" class="custom-notifications dsp_none">
            <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group"></ul>
            <div class="clearfix"></div>
            <div id="notif-group" class="tabbed_notifications"></div>
        </div>
    </div>
    <!-- main container -->
</div>
<!-- container body -->

<!-- jQuery -->
<script src="/vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="/vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="/vendors/nprogress/nprogress.js"></script>
<!-- bootstrap-progressbar -->
<script src="/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<!-- iCheck -->
<script src="/vendors/iCheck/icheck.min.js"></script>
<!-- PNotify -->
<script src="/vendors/pnotify/dist/pnotify.js"></script>
<script src="/vendors/pnotify/dist/pnotify.buttons.js"></script>
<script src="/vendors/pnotify/dist/pnotify.nonblock.js"></script>
<script type="text/javascript" src="/vendors/serializejson.min.js"></script>
<!-- Custom Theme Scripts -->
<script src="/js/custom.min.js"></script>



</body>
</html>
