<footer class="login-footer">
    <div class="footer-text">
        <p>&#169; 2016 All Rights Reserved. <a href="http://www.logic-square.com/" target="_blank">Logic Square</a>
            <%# <span>Powered by :
                <span class="label-logic-square">
                    Logic Square Technologies</span>
            </span>%>
        </p>
    </div>
</footer>
